@import "https://fonts.googleapis.com/css?family=Montserrat";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background: #000000;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #ffffff;
}

#__next,
.MainContainer {
  height: 100%;
}

div {
  -webkit-transition: 500ms;
}
div:hover {
  -webkit-transition: 500ms;
}
a {
  color: #ffcc00;
  -webkit-transition: 500ms;
}
a:hover {
  color: #ffe57d;
  -webkit-transition: 500ms;
}
button {
  -webkit-transition: 500ms;
}
button:hover {
  -webkit-transition: 500ms;
}
.boxShadow {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.33);
}

/* HEADER */
.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.title {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.phraseTyping {
  margin: 10px 0;
  text-align: center;
}
span.typed-text {
  font-weight: normal;
  color: #00cba8;
  text-decoration: underline !important;
}
span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin: 0 0px -10px 5px;
  width: 5px;
  animation: blink 1s infinite;
  height: 55px;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.a {
  position: relative;
  width: 100%;
  height: 100%;
}
.b {
  position: absolute;
  background: url(/c.png) 0 0 repeat;
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;

  background-size: contain;
  bottom: -10%;
  left: -10%;
  -webkit-animation: spin 108s linear infinite;
  -moz-animation: spin 108s linear infinite;
  animation: spin 108s linear infinite;
}
.bb {
  position: absolute;
  background: url(/c.png) 0 0 repeat;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;

  background-size: contain;
  top: -50px;
  right: -100px;
  -webkit-animation: spin 108s linear infinite;
  -moz-animation: spin 108s linear infinite;
  animation: spin 108s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.c {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  z-index: 999;
}
.cc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.logo {
  width: 100%;
  max-width: 410px;
  position: relative;
  height: 100px;
  margin: 0 auto;
}
a.s {
  text-decoration: none;
  padding: 50px 30px 0 30px;
  height: 40px !important;
  width: auto;
  display: inline-block;
}
.s img {
  padding: 0 30px;
  height: 40px !important;
  width: auto;
}
a.s:hover {
  opacity: 0.5;
}
.bg {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgb(1, 74, 108) 0%,
    rgb(0, 7, 40) 25%,
    rgb(39, 39, 39) 51%,
    rgb(0, 0, 0) 100%
  );
  animation: AnimateBG 20s ease infinite;
  overflow: hidden;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blackAngleTop,
.purpleAngleTop {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skewY(-4deg);
  transform-origin: 0 100%;
  background-color: #000000;
  width: 100%;
  height: 100px;
  z-index: 999;
}
.blackAngleBottom,
.purpleAngleBottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: skewY(-4deg);
  transform-origin: 100% 0;
  background-color: #000000;
  width: 100%;
  height: 100px;
  z-index: 999;
}
.blackBg,
.purpleBg {
  background-color: #000000;
  padding: 90px 0;
  text-align: center;
  position: relative;
}

.blackAngleTitle {
  position: absolute;
  bottom: 0px;
  transform: skewY(-4deg);
  transform-origin: 0 100%;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  z-index: 999;
}

.purpleAngleTop,
.purpleAngleBottom,
.purpleBg {
  background-color: #e7009b;
}
.purpleBg {
  padding: 50px 0;
}
.Hero {
  position: relative;
}
.Navbar {
  animation: fadein 200ms;
  background-color: #000000cc;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999999;
  width: 100%;
  padding: 20px;
}

.Navbar .links {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.Navbar .links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
}
.Navbar .links a:hover {
  color: #00cc99;
  text-decoration: underline;
  font-size: 15px;
}

.logoNav {
  width: 100%;
  max-width: 320px;
  position: relative;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7%,
  30% {
    transform: rotateZ(0);
  }
  40% {
    transform: rotateZ(-15deg);
  }
  45% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  55% {
    transform: rotateZ(6deg);
  }
  60% {
    transform: rotateZ(-4deg);
  }
  70%,
  100% {
    transform: rotateZ(0);
  }
}

a.help {
  animation: wiggle 10s linear infinite;
  position: fixed;
  right: 20px;
  bottom: 20px;

  padding: 1em;

  background: #444;
  background: linear-gradient(top, #222, #333);
  border: none;
  border-top: 3px solid #00cc98;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
  z-index: 99999999;
  display: block;
  text-align: center;
  text-decoration: none;
}
a.help .icon {
  display: inline-block;
  width: 20px;
}
a.help:hover {
  text-decoration: none;
  animation: paused;
  padding: 1.2em;
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .Navbar {
    display: none;
  }
  .title {
    font-size: 1.8rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
  span.cursor {
    background-color: #ccc;
    margin: 0 0px -5px 3px;
    width: 3px;
    animation: blink 1s infinite;
    height: 35px;
  }
  .logo {
    width: 100%;
    max-width: 310px;
  }
}
