.Dapp {
  width: 100%;
  height: 100%;
  background-image: url(/bg_rocket.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Dapp .head {
  padding: 10px 50px;
}
.Dapp .action {
  text-align: right;
}

.logo-dapp {
  width: 100%;
  max-width: 410px;
  position: relative;
  height: 100px;
}

.icon-metamask {
  position: absolute;
  top: 0;
  right: -30px;
}

.btn-primary {
  padding: 20px;
  padding-right: 40px;
  font-size: 22px;
  font-weight: bold;
  background: #e00c94;
  border: 1px solid #530d91;
}

.btn-primary:hover {
  background: #530d91;
  border: 1px solid #530d91;
}

.btn-random {
  position: absolute;
  top: 90px;
  left: 0px;
  width: 58%;
  z-index: 999;
}

.btn-random button {
  width: 100%;
  padding-left: 70px;
}

.icon-random {
  position: absolute;
  top: -25px;
  left: 3px;
  width: 65px;
}
.bg-img-nft {
  position: absolute;
  top: -30px;
  width: 60%;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
  background: #e00c9450;
  border-radius: 5px;
}
.mint-title {
  margin-bottom: 40px;
}
.nft-image > span {
  border-radius: 5px;
}

.Dapp .body {
  width: 99%;
}

.Dapp .lockEarn {
  background: #530d9170;
  border-radius: 5px;
  border: 1px solid #530d91;
  padding: 5px;
  color: #ffffff;
  height: 160px;
  cursor: pointer;
}
.w-shadow:hover {
  -webkit-box-shadow: 0px 9px 21px 5px rgba(256, 256, 256, 0.33);
  -moz-box-shadow: 0px 9px 21px 5px rgba(256, 256, 256, 0.33);
  box-shadow: 0px 9px 21px 5px rgba(256, 256, 256, 0.33);
}
.Dapp .lockEarn.selected {
  background: #e00c9470;
}

.Dapp .lockEarn .label {
  position: relative;
  padding: 10px 10px 10px 50px;
}
.Dapp .lockEarn .label h3 {
  padding: 0px;
  margin: 0px;
}
.Dapp .lockEarn:hover .circle {
  -webkit-box-shadow: 0px 3px 5px 2px rgba(256, 256, 256, 0.33);
  -moz-box-shadow: 0px 3px 5px 2px rgba(256, 256, 256, 0.33);
  box-shadow: 0px 3px 5px 2px rgba(256, 256, 256, 0.33);
}
.Dapp .lockEarn .label .circle2 {
  border: 1px solid #ffffffcc;
  background: #e00c94;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 4px;
  left: 4px;
  visibility: hidden;
}
.Dapp .lockEarn.selected .label .circle2 {
  visibility: visible;
}
.Dapp .lockEarn .label .circle {
  border: 1px solid #530d91;
  background: #985ec9;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.Dapp .lockEarn .period-box {
  width: 25%;
  display: inline-block;
  padding: 3px;
}
.Dapp .lockEarn .period {
  background: #530d9150;
  border-radius: 5px;
  border: 1px solid #530d91;
  padding: 10px 2px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  position: relative;
}

.Dapp .lockEarn .period .time {
  color: #530d91;
}
.Dapp .lockEarn .period-circle {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 9px;
  height: 9px;
  border: 1px solid #530d91;
  border-radius: 50%;
}

.Dapp .lockEarn .period.selected {
  background: #530d91;
}
.Dapp .lockEarn .period.selected .time {
  color: #e00c94;
}

.Dapp .lockEarn .period.selected .period-circle,
.Dapp .lockEarn .period:hover .period-circle {
  border: 1px solid #ffffff;
  background: #e00c94;
}

.icon-mint {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 80px;
}
.btn-mint {
  width: 100%;
}
