.Faq .titleImage {
  margin-top: -100px;
}

.Faq .container {
  padding: 0px 0;
  margin: 0 auto;
  width: 90%;
}

.Faq .box {
  padding: 30px;
  position: relative;
  cursor: pointer;
  margin-bottom: 60px;
}

.box-shadow-3d {
  background-color: #1d1d1d;
  width: 100%;
  position: relative;
}
.box-shadow-3d:after {
  content: "";
  background: #141414;
  position: absolute;
}

.box-shadow-3d:before {
  content: "";
  background: #2c2c2c;
  position: absolute;
}

.box-shadow-3d:after {
  width: 100%;
  height: 20px;
  left: 10px;
  bottom: 0;
  transform: translatey(100%) skewx(45deg);
}
.box-shadow-3d:before {
  width: 20px;
  height: 100%;
  right: 0;
  transform: translatex(100%) skewy(45deg);
  top: 10px;
}

.Faq .box p {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.Faq .box p.open {
  display: block;
  max-height: 600px;
  transition: max-height 1s ease-in-out;
}

.Faq .nav {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.__box-shadow-3d {
  box-shadow: 1px 1px 0px #2c2c2c, 2px 2px 0px #2c2c2c, 3px 3px 0px #2c2c2c,
    4px 4px 0px #2c2c2c, 5px 5px 0px #2c2c2c, 6px 6px 0px #2c2c2c,
    6px 6px 0px #2c2c2c, 7px 7px 0px #2c2c2c, 8px 8px 0px #2c2c2c,
    9px 9px 0px #2c2c2c, 10px 10px 0px #2c2c2c, 11px 11px 0px #2c2c2c,
    12px 12px 0px #2c2c2c, 13px 13px 0px #2c2c2c, 14px 14px 0px #2c2c2c,
    15px 15px 0px #2c2c2c, 16px 16px 0px #2c2c2c, 17px 17px 0px #2c2c2c,
    18px 18px 0px #2c2c2c, 19px 19px 0px #2c2c2c, 20px 20px 0px #2c2c2c,
    21px 21px 0px #2c2c2c, 22px 22px 0px #2c2c2c, 23px 23px 0px #2c2c2c,
    24px 24px 0px #2c2c2c, 25px 25px 0px #2c2c2c;
}

.box-shadow-3d_1 {
  box-shadow: 1px 0px 0px #2c2c2c, 2px 0px 0px #2c2c2c, 3px 0px 0px #2c2c2c,
    4px 0px 0px #2c2c2c, 5px 0px 0px #2c2c2c, 6px 0px 0px #2c2c2c,
    6px 0px 0px #2c2c2c, 7px 0px 0px #2c2c2c, 8px 0px 0px #2c2c2c,
    9px 0px 0px #2c2c2c, 10px 0px 0px #2c2c2c, 11px 0px 0px #2c2c2c,
    12px 0px 0px #2c2c2c, 13px 0px 0px #2c2c2c, 14px 0px 0px #2c2c2c,
    15px 0px 0px #2c2c2c, 16px 0px 0px #2c2c2c, 17px 0px 0px #2c2c2c,
    18px 0px 0px #2c2c2c, 19px 0px 0px #2c2c2c, 20px 0px 0px #2c2c2c,
    21px 0px 0px #2c2c2c, 22px 0px 0px #2c2c2c, 23px 0px 0px #2c2c2c,
    24px 0px 0px #2c2c2c, 25px 0px 0px #2c2c2c;
}

.box-shadow-3d_2 {
  box-shadow: 0 1px 0px #141414, 0 2px 0px #141414, 0 3px 0px #141414,
    0 4px 0px #141414, 0 5px 0px #141414, 0 6px 0px #141414, 0 6px 0px #141414,
    0 7px 0px #141414, 0 8px 0px #141414, 0 9px 0px #141414, 0 10px 0px #141414,
    0 11px 0px #141414, 0 12px 0px #141414, 0 13px 0px #141414,
    0 14px 0px #141414, 0 15px 0px #141414, 0 16px 0px #141414,
    0 17px 0px #141414, 0 18px 0px #141414, 0 19px 0px #141414,
    0 20px 0px #141414, 0 0 0px #141414, 0 22px 0px #141414, 0 23px 0px #141414,
    24px 24px 0px #141414, 0 25px 0px #141414;
}
