.Footer {
  background-color: #00cc99;
}

.Footer .monts {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
}

.Footer .monts span:first-child {
  position: relative;
  bottom: -30px;
}

.Footer .container {
  padding-top: 40px;
  min-height: 200px;
}
