.JoinDiscordBanner {
  padding-bottom: 20%;
}
.discordBanner {
  text-align: center;
  border-radius: 30px;
  padding: 90px;
  background-color: #000000;
  color: #ffffff;
}

.discordBanner .btn {
  border-radius: 90px;
  padding: 20px 20px 20px 90px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  font-size: 21px;
}

.discordBanner .btn:hover {
  background-color: #00cc99;
}

.discordBanner .btn .icon {
  width: 60px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.discordBanner .btn:hover .icon {
  top: 5px;
}
@media only screen and (max-width: 768px) {
  .discordBanner {
    padding: 30px;
  }

  .discordBanner .btn .icon {
    width: 45px;
    top: 20px;
    left: 15px;
  }
}
