.NftDistribution {
  background-color: #000000;
  position: relative;
  padding: 90px 0 200px 0;
}
.NftDistribution .box {
  background-color: #000033;
  position: relative;
}

.NftDistribution .title {
  z-index: 1000;
  position: relative;
}

.NftDistribution .container {
  padding: 100px 0 0 0;
  overflow: hidden;
}
