.NftSalesInfo .container {
  width: 80%;
  position: relative;
  padding: 0px 0 150px 0;
}

.NftSalesInfo .blackBg {
  padding: 90px 0 40px 0;
}

.NftSalesInfo .slides {
}

.NftSalesInfo .slides a.nav:hover {
  opacity: 0.5;
}
.NftSalesInfo .slides a.nav {
  top: 50%;
  transform: translateY(-100%);
  color: #ffffff;
  font-size: 21px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  width: 90px;
  height: 90px;
}
.NftSalesInfo .slides a.nav.prev {
  left: -90px;
}
.NftSalesInfo .slides a.nav.next {
  right: -10px;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggleOut {
  animation: fadeout 500ms;
  opacity: 0;
}

.toggleIn {
  animation: fadein 200ms;
  opacity: 1;
}

.NftSalesInfo .slides .slide.current {
  display: block;
  animation: fadein 200ms;
  opacity: 1;
}
.NftSalesInfo .slides .slide {
  background-color: #00cc99;
  border-radius: 9px;
  width: 75%;
  padding: 120px 25% 120px 30px;
  position: relative;
  display: none;
  opacity: 0;
  transition: 0.5s ease;
}

.NftSalesInfo .slides .slide .image.current {
  animation: spin 200ms;
}

.NftSalesInfo .slides .slide .image {
  transition: 0.5s ease;
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  z-index: 99999;
  overflow: hidden;
  border-radius: 9px;
  box-shadow: -10px -6px 15px -3px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .NftSalesInfo .slides {
    overflow: hidden;
  }
  .NftSalesInfo .slides .slide {
    width: 100%;
    padding: 360px 30px 30px 30px;
  }
  .NftSalesInfo .slides .slide .image {
    width: 100%;
    transform: none;
    top: 0;
    right: 0px;
    z-index: 9998;
  }
  .NftSalesInfo .slides a.nav:hover {
    opacity: 1;
  }
  .NftSalesInfo .slides a.nav {
    top: 310px;
    transform: none;
    color: #ffffff;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .NftSalesInfo .slides a.nav.prev {
    left: 10px;
    z-index: 9999;
  }
  .NftSalesInfo .slides a.nav.next {
    right: 10px;
    z-index: 9999;
  }
}
