input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

   /* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 5px solid #e00c94;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #462484;
  cursor: pointer;
  margin-top: -16px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #e00c94, 0px 0px 1px #e00c94; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #e00c94, 0px 0px 1px #e00c94;
  border: 1px solid #e00c94;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #462484;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #e00c94, 0px 0px 1px #e00c94;
  border: 1px solid #e00c94;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #462484;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #e00c94, 0px 0px 1px #e00c94;
  background: #e00c94;
  border-radius: 8px;
  border: 0.2px solid #e00c94;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e00c94;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #e00c94, 0px 0px 1px #e00c94;
  background: #e00c94;
  border-radius: 8px;
  border: 0.2px solid #e00c94;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e00c94;
  border: 0.2px solid #e00c94;
  border-radius: 16px;
  box-shadow: 1px 1px 1px #e00c94, 0px 0px 1px #e00c94;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e00c94;
}
input[type=range]::-ms-fill-upper {
  background: #e00c94;
  border: 0.2px solid #e00c94;
  border-radius: 16px;
  box-shadow: 1px 1px 1px #e00c94, 0px 0px 1px #e00c94;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e00c94;
}