.WhatIs {
  background-color: #000033;
  position: relative;
  padding-bottom: 3.5em;
}

.WhatIs .container {
  width: 80%;
}

.WhatIs .content {
  position: relative;
  z-index: 1000;
}
.WhatIs .image {
  padding: 0 1.5em;
}
.WhatIs p {
  margin-top: 30px;
}
